<ion-header>
    <ion-toolbar class="Align" color="warning">
      <ion-title>
       <img src="../../assets/quiz/quiz.jpg" width="80" height="80"> Quiz
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="warning">
    <ion-card >
      <ion-list *ngFor="let quiz of Questionz" (ionChange)="Score($event, quiz.Question)">
        <ion-card color="dark">
         <h4> <b>{{ quiz.counter }}.{{ quiz.Question }}</b> </h4>
        
        </ion-card>
       
          <ion-card> 
            <ion-radio-group>
              <ion-item *ngFor="let answer of quiz.Answer">
                <ion-label>{{answer}}</ion-label>
                <ion-radio color="warning" slot="start" value="{{ answer }}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card>
       
        </ion-list>
      
      </ion-card>

    
    <ion-card class="Align">
        <ion-button color="warning" shape="round" (click)="submit()">Submit</ion-button>
    </ion-card>
  </ion-content>